@import "tailwindcss";

:root {
  --background: #0A131E;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: white
}

@utility nav-item{
  @apply text-[#E5E7EB] uppercase hover:text-[#CE937E] hover:underline hover:decoration-2 hover:underline-offset-6
}

@theme {
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Hanker Grotesk", sans-serif;
}